/* 1. Общие стили для всей страницы */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Стили для логотипа */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

/* Цвет Studio для ВЕРХНЕГО логотипа */
.logo-dark {
  color: #2e2f42;
}

/* Цвет Studio для НИЖНЕГО логотипа */

.logo-light {
  color: #f4f4fd;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Выравниваем всё внутри хедера */
.header-container {
  display: flex;
  align-items: center; /* Чтобы всё было ровно по высоте */
  height: 72px;
}

/* Выстраиваем пункты меню (Студия, Портфолио...) */
.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.nav-link.current {
  position: relative;
  color: #404bbf;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* 1. Виправляємо фонову картинку */
.hero {
  background-color: #2e2f42;
  /* Додаємо ЦЕЙ блок, щоб з'явилася картинка з затемненням */
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/people-office.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
}

/* 2. Виправляємо заголовок, щоб він не був сірим */
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff; /* ТУТ МАЄ БУТИ БІЛИЙ КОЛІР */
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-btn {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  margin: 0 auto;
  /* Додаємо тінь та правильний transition */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* Стили для заголовков преимуществ */
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-item {
  background-color: #ffffff;
  width: 264px; /* Фиксированная ширина карточки по Figma */
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-content {
  padding: 32px 16px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
/* Стили для текста под этими заголовками */
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-item {
  position: relative;
  top: 4px;
  right: 0;
  margin: 10px;
}

/* Робимо іконки в ряд */
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Колір і розмір іконки */
.team-soc-list-icon {
  fill: #4d5ae5; /* Повертаємо синій колір */
}

/* Стиль для кружечка (якщо вони у вас у колах) */
/* 1. Кола-посилання (саме вони дають колір і форму) */
.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 2. Сама іконка всередині (SVG) */
.team-soc-icon {
  fill: #f4f4fd; /* РОБИМО ЗНАЧОК БІЛИМ */
}

/* 3. Ефект при наведенні */
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf; /* Теперь цвет будет меняться */
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  /*  стилі */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link {
  position: relative; /* Обязательно! Это "якорь" для рисочки */
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  /* остальные твои свойства... */
}
.nav-link.current::after {
  content: '';
  position: absolute; /* Рисочка будет "летать" над ссылкой */
  left: 0;
  bottom: -1px; /* Прижимаем к самому низу хедера */
  width: 100%; /* Линия будет на всю ширину слова */
  height: 4px; /* Толщина линии */
  background-color: #404bbf; /* Синий цвет */
  border-radius: 2px; /* Закругление краев линии */
}
.contacts-link {
  display: blok;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  right: 0;
  margin: 10px;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Выравниваем всё внутри хедера */
.header-container {
  display: flex;
  align-items: center; /* Чтобы всё было ровно по высоте */
}
.work-list {
  display: flex;
  gap: 24px; /* Расстояние между фото */
  list-style: none;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px; /* Расстояние до карточек по макету */
}

.team-item {
  /* Устанавливаем четкую ширину карточки по Figma */
  width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item img {
  display: block;
  width: 100%;
  height: auto;
}

.team-info {
  padding: 32px 0;
  text-align: center;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
}

.features-list,
.team-list,
.work-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.features-icon-wrapper {
  display: flex; /* Робимо блок гнучким */
  align-items: center; /* Центруємо іконку по вертикалі */
  justify-content: center; /* Центруємо іконку по горизонталі */
  height: 112px; /* Висота сірого боксу з макета */
  background-color: #f4f4fd; /* Той самий світло-сірий колір */
  border-radius: 4px; /* Закруглення кутів */
  margin-bottom: 8px; /* Відступ від боксу до заголовка Strategy */
  border: 1px solid #8e8f99; /* Додай це */
}
.features-item {
  width: calc((100% - 72px) / 4);
}

/* 2. Специфические стили ТОЛЬКО для списка команды */
.team-list {
  flex-wrap: wrap; /* Чтобы карточки переносились */
  justify-content: center; /* Чтобы карточки стояли по центру */
}

/* Ефект накладання (Overlay) у портфоліо */

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden; /* Ховає текст за межами картинки */
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;

  /* Початкова позиція тексту (повністю внизу) */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* посилання, overlay виїжджає нагору */
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin: 0;
}
.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.features-list {
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 1158px; /* Ширина из макета */
  padding: 0 15px; /* Отступы по бокам */
  margin: 0 auto; /* Центрирует всё содержимое по середине экрана */
}
/* Шапка сайта */
.page-header {
  border-bottom: 1px solid #e7e9fc;

  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.contact-info {
  font-style: normal;
  margin-left: auto;
}

.team-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap; /* Чтобы карточки переносились на вторую линию */
  gap: 24px; /* Расстояние между ними */
  row-gap: 48px; /* Расстояние между рядами */
}

.portfolio-item {
  width: calc((100% - 48px) / 3); /* Для 3 карточек в ряд */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Логотип */
.logo-part {
  color: #2e2f42;
}
/* Эффект наведения для логотипа */
.logo:hover,
.logo:focus {
  color: #404bbf; /*синий OCEAN */
}
/* 2. Секция Hero (Темная полоса вверху) */
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
}

/* Основной фон и отступы футера */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

/* Выравниваем содержимое по центру страницы */
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-container {
  margin-right: 120px;
}
.footer-team-soc {
  margin-right: 80px;
}
/* логотип */
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5; /* Синий цвет Web */
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* ЛОГОТИП (сделает Studio белым) */
.footer-logo .logo-light {
  color: #f4f4fd;
}

/* Настраиваем текст под логотипом */
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

/* Для секції Team (тут відступ 24px) */
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Для секції Footer (тут відступ 16px) */
/* 730 строка - Класс для СПИСКА (сетка) */
.footer-soc-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Класс для КРУЖОЧКА (фон и размер) */
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Эффект при наведении на кружочек в футере */
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa; /* Цвет из макета для футера */
}

/* Класс для самой ИКОНКИ внутри кружочка */
.footer-soc-icon {
  fill: #f4f4fd;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
}

.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  border-color: #31d0aa;
  outline: none;
}

.subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}
.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}
/* --- BACKDROP & MODAL --- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

/* Иконки внутри инпутов */
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

/* Textarea (отступ 16px до чекбокса) */
.modal-form-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn {
  display: block;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

/* И вот это, чтобы она синела при нажатии: */
.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}
